{% include 'employeeDashboard/base.html' %}
{% load static %}
{% block content %}

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <section class="welcome p-t-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="title-4">Hoildays
                                <span></span>
                            </h1>
                            <hr class="line-seprate">
                        </div>
                    </div>
                </div>
            </section>

                  <div class="col-lg-10">
                                <div class="au-card au-card--bg-blue au-card-top-countries m-b-30">
                                    <div class="au-card-inner">
                                        <div class="table-responsive">
                                            <table class="table table-top-countries">
                                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Holiday Date</th>
                                                <th>Day</th>
                                                <th>Description</th>
                                            </tr>
                                        </thead>
                                                <tbody>
                                                {% for i in h %}
                                                    <tr>
                                                        <td>#</td>
                                                        <td>{{i.holidayName}}</td>
                                                        <td>{{i.hoildayDate}}</td>
                                                        <td>{{i.hoildayDay}}</td>
                                                        <td>{{i.hoildayDescription}}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



        </div>
    </div>
</div>

{% endblock%}