{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Employee Registration Page</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'employeeStatic/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'employeeStatic/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'employeeStatic/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'employeeStatic/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'employeeStatic/css/theme.css' %}" rel="stylesheet" media="all">

</head>


<body class="animsition">
    <div class="page-wrapper">
			<center>{{msg}} </center>
        <div class="">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <h4>Employee Registration Form</h4>
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="/saveEmployee/" method="post" enctype="multipart/form-data">
								{% csrf_token %}
                                	<div class="row">
                                 	<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">First Name <span class="text-danger">*</span></label>
											<input class="form-control" type="text" name="fname" placeholder="Enter First Name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Last Name</label>
											<input class="form-control" type="text" name="lname" placeholder="Enter Last Name">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Contact No<span class="text-danger">*</span></label>
											<input class="form-control" type="number" name="phone" placeholder="Enter Contact No">
										</div>
									</div>
                                    	<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Gender<span class="text-danger">*</span></label>
											<select name="gender" class="form-control" >
													<option>Select Gender</option>
													<option>Male</option>
													<option>Female</option>
												</select>
											</div>
									</div>
                                        <div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">DOB<span class="text-danger">*</span></label>
											<input class="form-control" type="date" name="dob" placeholder="Enter Birth Date">
										</div>
									</div>
                                        <div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Blood Group<span class="text-danger">*</span></label>
										<select name="bloodGroup" class="form-control" >
													<option>Select</option>
													<option>A</option>
													<option>B</option>
													<option>AB</option>
													<option>O</option>
											</select>
											</div>
									</div>
                                    	<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Address<span class="text-danger">*</span></label>
											<input class="form-control" type="text" name="address" placeholder="Enter Your Address">
										</div>
									</div>
										<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">State<span class="text-danger">*</span></label>
											<div><input class="form-control" type="text" name="state" placeholder="Enter Your State"></div>
										</div>
									</div>
                                	<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Qualification</label>
											<input class="form-control" type="text" name="qualification" placeholder="Enter Your Qualification">
										</div>
									</div>

									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Email <span class="text-danger">*</span></label>
											<input class="form-control" type="email" name="email" placeholder="Enter Your Email Id">
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Password</label>
											<input class="form-control" type="password" name="password" placeholder="Enter Your Password">
										</div>
									</div>
										<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">Upload Image</label>
											<input class="form-control" type="file" name="image">
										</div>
									</div>
										<div class="col-sm-12">
										<div class="form-group">
											<label class="control-label">Upload Resume</label>
											<input class="form-control" type="file" name="resume">
										</div>
									</div>




								</div>
								<div class="m-t-20 text-center">
									<button class="btn btn-primary">Create Employee</button>
								</div>

                            </form>
                            <div class="register-link">
                                <p>
                                    Already have account?
                                    <a href="{% url 'employeeLogin' %}">Sign In</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>}
    <!-- Jquery JS-->
    <script src="{% static 'employeeStatic/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'employeeStatic/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'employeeStatic/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'employeeStatic/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'employeeStatic/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'employeeStatic/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'employeeStatic/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'employeeStatic/js/main.js' %}"></script>

</body>

</html>
