{% extends 'adminDashboard/base.html' %}
{% load static %}
{% block content %}


<div class="page-wrapper" xmlns="http://www.w3.org/1999/html">
    <div class="content container-fluid">
   	<div class="row">
						<div class="col-xs-4">
							<h4 class="page-title">Employee</h4>
						</div>
					<hr>
					</div>
					<form action="/savefilterEmployee/" method="post">
						{% csrf_token %}
					<div class="row filter-row">
						<div class="col-sm-2 col-xs-6">
							<div class="form-group form-focus select-focus">
								<label class="control-label">Employee Id </label>
								<select name="employeeId">
									<option value="">Select Employee Name </option>
									{% for i in emp %}
									<option value="{{i.empCode}}">{{i.fname}} {{i.lname}}</option>
									{% endfor %}
								</select>

							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="form-group form-focus select-focus">
								<label class="control-label">Date</label>
								<input type="date" class="form-control floating" name="date" />
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
						<input type="submit" class="btn btn-success btn-block" value="Search" />
						</div>
                    </div>
					</form>

		<div class="row">
			{{ename}}
						<div class="col-md-12">
							<div class="table-responsive">
								<table class="table table-striped custom-table datatable">
									<thead>
										<tr>
											<th>Employee ID</th>
											<th>Login Time</th>
											<th>LogOut Time</th>
											<th>Work Description</th>
											<th>Duration</th>
										</tr>
									</thead>
									<tbody>
									{% for i in res %}
										<tr>
											<td>{{i.employeeId}}</td>
										<td>{{i.loginTime}}</td>
											<td>{{i.logoutTime}}</td>
											<td>{{i.workDescription}}</td>
											<td>{{i.duration}} Minute</td>
										</tr>
									{% endfor %}
									</tbody>
										<hr>
									{% for i in p %}
									   <tr>
											<td>Total time</td>
											<td colspan="2" align="center">{{i.totalTime}} Minutes</td>
											<td>Per Day Salary</td>
											<td colspan="2" align="center">Rs. {{i.daySalary}} </td>
										   <td></td>
										   <td></td>
										</tr>
									{% endfor %}

    </div>
</div>


{% endblock %}