{% include 'managerDashboard/base.html' %}
{% load static %}
{% block content %}

  <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                          {{msg}}
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">Reset Password Form</div>
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Reset Password</h3>
                                        </div>
                                        <hr>
                                        <form method="post" action="/changePasswordManager/">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label mb-1">old Password</label>
                                                <input name="oldPassword" type="text" class="form-control" aria-required="true" aria-invalid="false" >
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label mb-1">New Password</label>
                                                <input name="newPassword" type="text" class="form-control" aria-required="true" aria-invalid="false" >
                                            </div>
                                            <div class="form-group has-success">
                                                <label class="control-label mb-1">Confirm Password</label>
                                                <input name="comfirmPassword" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                            <div>
                                                <br>
                                                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <i class="fa fa-lock fa-lg"></i>
                                                    <span id="payment-button-amount">Change Password</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}